<p-dialog [(visible)]="displayDialog" modal="modal" [minWidth]="500" positionTop="100">
  <p-header>
      {{inQuestion.id + 1}}
  </p-header>
  <h4>Вопрос</h4>
  <div>
    <pre [innerHTML]="inQuestion.question"></pre>
  </div>
  <div *ngIf="displayAnswer" [@animateAnswer]>
    <h4>Ответ</h4>
    <pre [innerHTML]="inQuestion.answer"></pre>
  </div>
  <p-footer>
    <button type="button" pButton icon="fa fa-eye" (click)="displayAnswer=displayAnswer ? false : true" label="Показать подсказку"></button>
    <button type="button" pButton icon="fa fa-forward" (click)="next()" label="Следующий вопрос"></button>
    <button type="button" pButton icon="fa fa-close" (click)="displayDialog=false" label="Закрыть"></button>
  </p-footer>
</p-dialog>
