/* You can add global styles to this file, and also import other style files */
.start-button .ui-button {
  width: 100%;
  height: 50px;
}

.randomModeButtom .ui-button-text-only .ui-button-text {
  padding: 0.9em 1em;
}